
/*--焦点图与登陆部分--*/
#focus
{
    height: 255px;
    overflow:hidden;
    margin-bottom:8px;
}

#focus-content
{
    width: 266px;
    height: 208px;
    visibility: hidden;
    background: green;
    margin-bottom:8px;
}

/*--热点新闻--*/
#hot-news
{
    width: 356px;
    height: 223px;
    background: url(../Images/hot_bg.gif);
    padding: 16px;
}

#hot-news .important-news
{
    height: 80px;
    border-bottom: 1px dotted #444;
}

#hot-news .important-news h2
{
    font-size: 18px;
    font-family: 微软雅黑;
    text-align: center;
    line-height: 40px;
}

#hot-news ul, .index-news ul
{
    margin-top: 8px;
}

#hot-news ul li, .index-news ul li
{
    height: 22px;
    line-height: 22px;
    background: url(../Images/Icon.gif) 0 -300px no-repeat;
    padding-left: 20px;
}

#hot-news ul li span, .index-news ul li span
{
    float: right;
    color: #579F11;
}

/*--热门产品--*/
#main-product
{
    height: 290px;
    margin-bottom:8px;
}

#main-product ul
{
    margin: 10px;
}

#main-product ul li
{
    float: left;
    width: 107px;
    height: 113px;
    text-align: center;
    line-height: 20px;
    margin: 5px 10px;
    display:inline;
}

#main-product ul li img
{
    width: 107px;
    height: 87px;
}


/*--导购--*/
#buy
{
    height: 255px;
    margin-bottom:8px;
}

#buy dl
{
    margin: 0 15px;
    background: url(../images/icon2.gif) no-repeat;
}

#buy dl dt
{
    font-weight: bold;
    padding-left: 60px;
    line-height: 25px;
    margin-top:12px;
}

#buy dl dd
{
    padding-left: 60px;
    line-height: 30px;
    height: 35px;
    border-bottom: 1px dashed #DDD;
}

#buy dl dd.no-border
{
    border: 0;
}

/*--常见问题--*/
#qa
{
    height: 440px;
    margin-bottom:8px;
    overflow: hidden;
}

#qa dl
{
    margin:0 8px;
}

#qa dl dt, #qa dl dd
{
    padding-left: 20px;
    background-image: url(../images/icon.gif);
    background-repeat: no-repeat;
}

#qa dl dt
{
    font-weight: bold;
    line-height: 25px;
    background-position: 0 -143px;
    margin-top: 8px;
}

#qa dl dd
{
    background-position: 0 -198px;
    border-bottom: 1px dashed #DDD;
    padding-bottom:8px;
}

/*--联系我们--*/
#link-us div
{
    height: 112px;
    background: url(../images/tel.gif);
}
