#news-show h1
{
    font-size:24px;
    font-family:"微软雅黑","黑体";
    text-align:center;
    line-height:60px;
}

.news-info
{
    text-align:center;
    color:#888;    
    line-height:30px;
    border:1px dotted #DDD;
    border-width:1px 0;
}

.news-content
{
    padding:20px;
    line-height:2;
    font-size:12pt;
}

#news-img
{
    border:1px solid #ddd;
    padding:8px;
}

#news-img img
{
    width:100%;
}