/*--设置网页的文本颜色、字体等--*/
body
{
    font: 12px/1.5 微软雅黑, 宋体, tahoma, Srial, helvetica, sans-serif;
    color: #444;
}

/*--去掉链接的下划线，与设置颜色--*/
a
{
    text-decoration: none;
    color: #444;
}

/*--鼠标放在链接上时的样式--*/
a:hover
{
    color: #F00;
}

/*--整个网页的容器--*/
#container
{
    width: 900px;
    margin: 0 auto;
}

/*网页的头部*/
#header
{
    height: 70px;
}

#logo
{
    width: 181px;
    height: 70px;
    background: url(../Images/logo.gif) no-repeat left center;
    float: left;
}

#search
{
    float: right;
    margin-top: 30px;
}

#search-key
{
    width: 140px;
    background: url(../Images/srh_bg.gif);
    border: 1px solid #DDD;
    padding-left: 20px;
    margin: 0 5px;
    vertical-align:middle;
}

#search button
{
    width: 58px;
    height: 23px;
    border:0;
    background: url(../Images/btn_srh.gif);
    vertical-align:middle;
}

/*导航条*/

#nav
{
    height:66px;
    position:relative;
    margin-bottom:8px;
}

#nav div
{
    float: left;
    background-image: url(../Images/nav_bg.gif);
    height:66px;
}

#nav-left
{
    width: 5px;
    background-position: 0 -66px;
}

#nav-main
{
    width: 890px;
}

#nav-list li
{
    float:left;
    font-size:14px;
    color:White;
    font-weight:bold;
    padding:0 0 0 20px;
    line-height:31px;
    height:31px;
    margin:5px 8px 0;
}

#nav-list li ul{display:none;}

#nav-list li.current-nav ul{display:block;}

#nav-list li ul li { font-weight:normal;margin-top:0; }

#nav-list li span{padding-right:20px;}

#nav-list li.current-nav span
{
    padding-right:20px;
    background:url(../Images/nav_bg.gif) right -132px;
    display:block;
}

.current-nav
{
    background:url(../Images/nav_bg.gif) 0 -132px;
}

#nav-list li.current-nav a
{
    color:#000;
}

#nav-list li a
{
    color:White;
}

#nav-list li ul
{
    position:absolute;
    top:35px;
    left:0;
}

#nav-right
{
    width: 5px;
    background-position: -5px -66px;
}

/*--本网页公用样式--*/
.important-news p
{
    color: #999;
}

/*--本网页公用样式：新闻块--*/
.index-news
{
    width: 325px;
    height: 289px;
}

.index-news .important-news
{
    padding: 10px 15px;
    height: 72px;
    overflow: hidden;
}

.index-news .important-news h3 a
{
    color: #05A;
    line-height: 30px;
}

.index-news .important-news img
{
    float: left;
    border: 1px solid #DDD;
    padding: 1px;
    margin-top: 7px;
    margin-right: 10px;
    width: 91px;
    height: 70px;
}

.index-news ul
{
    padding: 0 15px;
}

/*--本网页公用样式：有标题与边框的div--*/
.border
{
    border: 1px solid #DDD;
}

.border h2
{
    height: 27px;
    background-image: url(../images/box_tit_bg.gif);
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    color: #444;
    line-height: 27px;
    padding: 0 14px;
}

.border h2 em
{
    color: #DC7E1B;
    padding-left:20px;
    background:url(../Images/icon.gif) no-repeat 0 -1px;
}

.border h2 a
{
    float: right;
    color: #DC7E1B;
    font-size: 12px;
    font-weight: normal;
    background: url(../Images/icon.gif) no-repeat 0 -43px;
    padding-left: 16px;
}

.border h2 a:hover
{
    background-position: 0 -93px;
    color: #CB6D0A;
}

#body
{
    margin-bottom:8px;
}

/*----主内容----*/
#main
{
    width: 663px;
    float: left;
}

/*--侧边--*/
#sidebar
{
    width: 228px;
    float: right;
}

/*--侧边：有标题和边框的div--*/
.sidebar-border
{
    background: url(../images/side_bg.gif);
    background-position: 0 bottom;
    overflow: hidden;
    height: auto;
}

.sidebar-border h2
{
    background: url(../images/side_bg.gif);
    font-size: 14px;
    line-height: 32px;
    padding: 0 10px;
}

.sidebar-border h2 em
{
    color: Red;
}

/*--底部导航--*/
#nav-bottom
{
    line-height: 30px;
    color: White;
    text-align: center;
    background-color: #AAA;
}

#nav-bottom a
{
    color: #FFF;
    font-weight: bold;
}

/*--页脚--*/
#footer
{
    text-align: center;
    color: #666;
    line-height: 26px;
}



/*--分页条--*/
.pager
{
    text-align:right;
    height:30px;
    padding:0 10px;
}

.pager a,
.pager-info
{
    border:1px solid #eee;
    padding:2px 8px;
}

.pager a:hover, 
.current-page
{
    color:#fff;
    background-color:#dd8844;
}

.to-page
{
    border:1px solid #eee;
    width:20px;
    height:18px;
    color:#dd8844;
}



/*--侧边的列表--*/
.sidebar-border ul
{
    padding:0 8px;
}

.sidebar-border ul li
{
    line-height:30px;
    background:url(../images/icon.gif) no-repeat 0 -294px;
    border-bottom:1px dotted #ddd;
    padding-left:20px;
}


/*留言板相关*/

/*这一段，用来让发表留言那一块随着网页拖动而变化，人性化设置，使用了针对流量器的绝对定位。同时修复了IE6不支持POSITION:FIXED的问题*/
#sidebar-message-publish
{
    top:275px;
    width:228px;
    position:fixed; /*针对浏览器窗口进行定位，IE6下不支持*/
	_position:absolute; /*针对浏览器兼容性设置，IE6认识下划线，其它浏览器不认识*/
	_top:expression(eval(document.documentElement.scrollTop+275)); /*针对浏览器兼容性设置，IE6认识下划线，其它浏览器不认识，使用IE认识的EXPRESSION，里面写上JAVASCRIPT代码，修复IE不支持POSTION：FIX的问题。或可以使用JAVASCRIPT设置window.onscroll事件，在事件中重新设置该元素的TOP样式的值。*/
}

/*针对浏览器兼容性设置，IE6 postion:fixed修复拖动时闪动*/
*html{
	background-image:url(about:blank);
	background-attachment:fixed;
}
/*发表留言随着网页拖动而变化结束*/


#sidebar-message-publish a
{
    display:block;
    height:40px;
    margin:5px;
    background:url(../Images/message_publish.gif);
}


.message-input
{
    padding:8px;
}

.message-label,
.message-editor
{
    height:30px;
    line-height:30px;
    vertical-align:middle;
    float:left;
}


.message-label
{
    width:100px;
}

.message-editor
{
    width:520px;
}

.message-input-content
{
    height:100px;
}

.message-input input,
.message-input select,
.message-input textarea
{
    border:1px solid #999;
    width:200px;
}


.message-input textarea
{
    width:500px;
    height:80px;
}


.message-input .fix-radio
{
    border:0;
    width:auto;
}