#wz_index_body{
	width:100%;
}
#center_left{
	width:334px;
	float:left;
	position:fixed;
	top:0px;
	height:800px;
	border-left:1px #B1A9A9 solid;
	}
#center_right{
	width:69%;
	background:rgb(245,245,245);
	border-right:1px #B1A9A9 solid;
	height:800px;
	float:right;
	}