@charset "utf-8";
/* CSS Document */
/*自动换行*/


#Comment{ 
	word-wrap: break-word; 
	word-break: normal; 
}

.count{
	word-wrap: break-word; 
	word-break: normal;
	color:rgb(53,73,94);
	font-size: 10px;
    line-height: 180%;
	}
	